################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OlhoNoBus/FileContentIndex/2a528768-2d55-451c-b8f9-9767c6702bc5.vsidx
/.vs/OlhoNoBus/FileContentIndex/6a6face8-5248-42f8-931d-717d97ae126c.vsidx
/.vs/OlhoNoBus/FileContentIndex/889d1bb4-56c7-4bc0-891e-a4939652598b.vsidx
/.vs/OlhoNoBus/FileContentIndex/8a82ed64-d64c-431f-9029-2a2e8dbd06e0.vsidx
/.vs/OlhoNoBus/FileContentIndex/b6972f22-c47b-403a-b303-e5e653b91552.vsidx
/.vs/OlhoNoBus/FileContentIndex/b7072446-85cb-4000-86e7-649587d9d857.vsidx
/.vs/OlhoNoBus/FileContentIndex/d298b365-d050-4b02-a294-f0d6e8c89160.vsidx
