################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OlhoNoBus/FileContentIndex/2a528768-2d55-451c-b8f9-9767c6702bc5.vsidx
/.vs/OlhoNoBus/FileContentIndex/6a6face8-5248-42f8-931d-717d97ae126c.vsidx
/.vs/OlhoNoBus/FileContentIndex/889d1bb4-56c7-4bc0-891e-a4939652598b.vsidx
/.vs/OlhoNoBus/FileContentIndex/8a82ed64-d64c-431f-9029-2a2e8dbd06e0.vsidx
/.vs/OlhoNoBus/FileContentIndex/b6972f22-c47b-403a-b303-e5e653b91552.vsidx
/.vs/OlhoNoBus/FileContentIndex/b7072446-85cb-4000-86e7-649587d9d857.vsidx
/.vs/OlhoNoBus/FileContentIndex/d298b365-d050-4b02-a294-f0d6e8c89160.vsidx
/.vs/OlhoNoBus/FileContentIndex/3331817c-6eba-40a0-ab96-634bb6b9c36a.vsidx
/.vs/OlhoNoBus/FileContentIndex/4c5ef2ff-e686-4d0f-9704-26228d5d88ce.vsidx
/.vs/OlhoNoBus/FileContentIndex/591727da-c316-4ed2-a0ed-caa245247a83.vsidx
/.vs/OlhoNoBus/FileContentIndex/89f1b084-1d69-4ead-b4e1-70c816fe739d.vsidx
/.vs/OlhoNoBus/FileContentIndex/8e8955d4-f2fe-42f3-b72e-340445caaf55.vsidx
/.vs/OlhoNoBus/FileContentIndex/b0172c59-62a8-4222-98f4-506845dcc302.vsidx
/.vs/OlhoNoBus/FileContentIndex/b3fd5f1c-4c89-4003-a549-3104cc23e77d.vsidx
/.vs/OlhoNoBus/FileContentIndex/89f1b084-1d69-4ead-b4e1-70c816fe739d.vsidx
/.vs/OlhoNoBus/FileContentIndex/4c5ef2ff-e686-4d0f-9704-26228d5d88ce.vsidx
